{% extends "layout/layout.html" %}
<!--telling app that which template to use- Ya ye inject kahan krna code blocks-->

<!-- This is the title block which is defined in the base.html file -->
{% block title %}
Categories
{% endblock %}


{% comment %} {% block styling %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %} {% endcomment %}

{% comment %} check why we can do like this  {% endcomment %}



{% block content %} <!-- This is the content block which is defined in the base.html file -->
<h1>Welcome to Categories Section | Categories Page</h1>
<h2>All categories for you here.</h2>

{% endblock %}