{% extends "layout/layout.html" %}

{% block title %}
Course 
{% endblock %}


{% block content %} <!-- This is the content block which is defined in the base.html file -->
{% comment %} <div >
    <img src="{{course.image.url}}" alt="" srcset="">

{% if course.image2 %}
    <img src="{{course.image2.url}}" alt="" srcset="">
{% endif %}
</div>
<h1 class="text-left text-xl text-slate-900">{{course.name}}</h1>
<h1 class="text-left text-sm text-slate-700" >{{course.course }} - {{course.date_added.date}}</h1>

{% if course.price %}
    <p class="text-left text-slate-800 text-2xl font-bold text-slate-800">$ {{course.price}}</p>
{% endif %}


</div> {% endcomment %}

<div class="w-[80vw] mx-auto">
<div>On course page - {{course.id}}</div>
<h1 class="text-left text-xl font-bold text-slate-200">{{course.name}}</h1>
</div>

{% endblock %}