{% load static tailwind_tags %}
{%load static%}      <!-- This is used to load the static files like css, js, images etc. -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">    <!-- This is used to load the css file -->
    {% tailwind_css %}    <!-- This is used to load the tailwind css file -->
    <title>{% block title %}Django Application{% endblock %} </title>
</head>
<body>
    <nav>Yeh bhai navbar hai</nav>
    <div class="content">
        {% block content %} {% endblock %}
    </div>
</body>
</html>